.activity-container {
  max-width: 1200px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
.activity-wrapper {
  position: relative;
}

.activity-list {
  display: flex;
  justify-content: space-between;
  .activity-list-item {
    list-style: none;
    margin-top: 48px;
    margin-right: 0;
  }
}
.activity-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.activity-subh-r {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/*margin-bottom: 94px;*/

/*border-radius: 4px;;
background-image: linear-gradient(
    to bottom, 
      #F5F4FA;  #F5F4FA)
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: auto;
  background-position: center;
  background-size: cover;
  width: 270px;
  height: 120px;
  left: 0px;
  top: 80px;
  background-clip: border-box;*/
/*.aivityy-wrapper {
  position: relative;
}
*/
.activity-list-item-image {
  display: block;
  padding: 0;
}
