.clients-section {
  margin-bottom: 94px;
}

.clients-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  .clients-icon-list {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.clients-header {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.client-icon .client-icon-svg {
  fill: #afb1b8;
}

.client-icon {
  margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }
}

.client-icon-svg:hover,
.client-icon-svg {
  fill: #2196f3;
}

.customers-list-item-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: #2196f3;
  }
}

.border {
  max-width: 170px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  height: 90px;
  left: 1215px;
  top: 2487px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
}

.client-icon .border:hover,
.border:focus {
  fill: #2196f3;
}
