.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 9px;
  }
}

.page-header {
  > .container {
    display: flex;
    align-items: center;
  }
}

.menu-wrapper {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    display: none;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav-container {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 84px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}

.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav-link-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 28px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.nav-link {
  @extend %header-link;
  display: inline-block;

  color: $main-font-color;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.1429;
  }

  &.current {
    position: relative;
    color: $accent-color;

    @media screen and (max-width: 767px) {
      padding-bottom: 12px;
    }
  }
}

.nav-link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: $accent-color;
}

.site-nav {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.contact-list-item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.contact-data {
  @extend %header-link;
  display: inline-flex;
  align-items: center;
  color: $accent-color;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.1667;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.1429;
  }
}

.contact-data-icon {
  @extend %header-icon;
  width: 16px;
  height: 11.2px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }

  .contact-data:hover,
  .contact-data:focus {
    fill: $accent-color;
  }

  .menu-button {
    display: inline-flex;
    padding: 0;
    margin: 0;
    margin-left: auto;
    background-color: transparent;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .menu-button .icon-close {
    display: none;
  }

  .menu-button.is-open .icon-close {
    display: block;
  }

  .menu-button.is-open .icon-burger {
    display: none;
  }
}
