.site-nav {
  display: flex;
  .nav-link-item {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    margin-right: 50px;
    /* padding-top: 30px;*/
  }
}
.site-nav .nav-link-item:last-child {
  margin-right: 0;
}

.contact-list-item {
  margin-right: 30px;
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.logo {
  font-family: "Roboto", sans-serif;
}
.logo-link {
  margin-right: 85px;
}
.site-nav-div {
  margin-left: auto;
}

.nav-container {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.nav-link-item {
  list-style: none;
  text-decoration: none;
  display: block;
}

/*.nav-link .current {
 padding-bottom: 0;
}*/
.nav-link.current {
  padding-bottom: 0;
  color: #2196f3;
  &::after {
    content: "";
    display: block;
    height: 4px;
    border-radius: 2px;
    margin-top: 28px;
    background-color: #2196f3;
  }
}

.contact-list-item {
  list-style: none;
  text-decoration: none;
}
.contact-list-item {
  fill: #757575;
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.contact-data {
  display: block;
  /*padding-top: 32px;
  padding-bottom: 32px;*/
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.contact-data:hover,
.contact-data .contact-data-icon:focus {
  fill: #2196f3;
}
