.button {
  /*display: inline-block;*/
  /*display: inline-flex;*/
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  background: #2196f3;
  color: #ffffff;
  /*text-transform: uppercase;*/
  letter-spacing: 0.06em;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  &:hover,
  &:focus {
    background: #2196f3;
    color: #ffffff;
    /*text-transform: uppercase;*/
    letter-spacing: 0.06em;
    border: none;
  }
}
