.data-modal-open,
.feedback-form-submit-button {
  display: block;
  min-width: 200px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin-right: auto;
  margin-left: auto;
  background-color: #188ce8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-modal-open:hover,
.data-modal-open:focus,
.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: #188ce8;
}

.subscribe-form-section {
  margin-left: 80px;
}

.subscribe-to {
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe-form {
  display: flex;
  width: 570px;
}

.subscribe-form-input {
  width: 358px;
  padding: 14px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  background-color: #2f303a;
  color: #eeeeee;
}

.subscribe-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration-color: white;
}

.subscribe-form-submit-button {
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  background-color: rgba(33, 150, 243, 0.9);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-form-icon {
  margin-left: 10px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
  overflow-y: auto;
}

.backdrop.is-hidden {
  opacity: 0;

  visibility: hidden;
  pointer-events: none;
  transform: translate(100%);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-for-call {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.feedback-form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-field.textarea {
  margin-bottom: 20px;
}
.form-field.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-field-input,
.form-field-input,
.form-field-textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 10px;
  outline-color: #2196f3;
}
.form-field-input {
  padding-top: 11px;
  padding-right: 17px;
  padding-bottom: 11px;
  padding-left: 41px;
}
.contact-data-list {
  list-style: none;
}

.form-field-input:focus,
.form-field-textarea:focus {
  border: 1px solid #2196f3;
}
.form-field-textarea {
  height: 120px;
  padding: 11px 30px;
  resize: none;
}

.form-field-textarea + .form-field-label {
  position: absolute;
  top: 11px;
  left: 15px;

  font-weight: 400;
  line-height: 1.1428;
  letter-spacing: 0.01em;

  color: #757575;

  transform: translate(0);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-textarea:focus + .form-field-label,
.form-field-textarea:not(:placeholder-shown) + .form-field-label {
  color: #2196f3;

  transform: translateY(-32px);
}

.form-field-label {
  position: absolute;
  top: 50%;
  left: 41px;
  font-weight: 400;
  line-height: 1.1428;
  letter-spacing: 0.01em;
  color: #757575;
  transform: translate(0, -50%);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-input:focus + .form-field-label,
.form-field-input:not(:placeholder-shown) + .form-field-label {
  color: #2196f3;
  transform: translate(-24px, -40px);
}
.form-field-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-input:focus ~ .person-icon,
.form-field-input:not(:placeholder-shown) ~ .person-icon {
  fill: #2196f3;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  /*align-items: center;*/
  font-weight: 400;
  /*line-height: 1.7143;*/
  color: #757575;
}

.checkbox-label::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;

  background-color: #ffffff;
}

.checkbox-input:checked + .checkbox-label::before {
  border: 2px solid #2196f3;
  background-color: #2196f3;
  background-image: url(../images/svg/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.contact-form-checkbox-span {
  /*white-space: pre;*/
  text-align: start;
}
.contact-form-checkbox-span-link {
  text-decoration-line: underline;
  color: #2196f3;
  width: 44px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover .close-icon,
.modal-close-button:focus .close-icon {
  fill: #2196f3;
}
